@import './base.scss';

.footer{
    grid-column: full-start / full-end;
    color: white;
    background-color: $color-primary-dark;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;

    @media only screen and (max-width: $bp-phone) {
        flex-direction: column;
        height: 40rem
     }
    
    &__logo{
        margin-right: 2rem;
    }
    
    &__nav{
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $bp-phone) {
           flex-direction: column;
         }
    }
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.8rem;
        list-style-type: none;
        width: 100%;

        @media only screen and (max-width: $bp-phone) {
            flex-direction: column;
            justify-content: space-between;
            height: 20rem;
            font-size: 2rem;
            margin: 2rem 0;
         }
    }
    
    &__link{
        text-decoration: none;
        font-weight: 200;
        color: white;
        transition: all .2s;
        &:hover{
            color: $color-secondary;
        }
        
    }

    &__social-media{
        width: 10%;
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        @media only screen and (max-width: $bp-phone) {
            width: 30%;
          }
        
    }

    &__icon{
        &:hover path{
            fill: $color-secondary;
        }
    }
}